$font-family: (
heading: 'Source Sans Pro',
base: 'Fresca',
link: 'Source Sans Pro',
);
$img-day: url('../img/m-h-night.jpg');
$highlight-color: #ff2000;
$body-color: #1c1e33;
$gradient-color: linear-gradient(to right, #e8a800, #a51349);
$section-color: #3b3f50;
$button-color: #ecb000;
$header-color: #ffffff;
$header-opacity: 1;
$header-text-opacity: 1;
$font-weight: bold;
$awesome-top: 151px;