$font-family: (
heading: 'Source Sans Pro',
base: 'Hind',
link: 'Source Sans Pro',
);
$img-day: url('../img/m-h-day.jpg');
$highlight-color: #00a2cb;
$body-color: #ffffff;
$gradient-color: linear-gradient(to right,#4a9e01, #3649d5);
$section-color: #21232e;
$button-color: #699900;
$header-color: black;
$header-opacity: 0.7;
$header-text-opacity: 0.4;
$font-weight: normal;
$awesome-top: 158px;

